{% extends '../../basee.html' %}
{% load crispy_forms_tags %}


{% block title %}PC - Change Password{% endblock %}

{% block content %}
<!-- Navbar -->
<div class="container-fluid">
    <div class="row">
        <nav class="navbar">

            <div class=" col-lg-3 col-md-4 col-sm-12" style="text-align: center; margin: 10px 0;">
                <button type="button" id="sidebarCollapse" class="btn btn-dark mt-1">
                    <i class="fas fa-align-left"></i>
                </button>
                <a href="{% url 'pl:category' %}" class="btn btn-dark mt-1">Category</a>
                <a href="{% url 'pl:home' %}" class="btn btn-dark mt-1">Home</a>
            </div>
            <div class=" col-lg-6 col-md-4 col-sm-12" style="text-align: center; margin: 10px 0;">
                <h3 class="mb-0">Welcome {{request.user.username|title}}</h3>
                <a href="{% url 'account:profile' request.user.profile.slug %}" class="navigation ">Profile</a> /
                <a href="{% url 'account:password_change' %}" class="navigation ">Reset Password</a>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-12" style="text-align: center; margin: 10px 0;">
                <div class="btn-group  dropstart">
                    <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{{ request.user.profile.image.url }}" alt="" class="rounded-circle" width="60"
                            height="60">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'account:profile' request.user.profile.slug %}">Profile</a>
                        <a class="dropdown-item" href="#">My Questions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>

<!-- End Of Navbar -->


<div class="row justify-content-center">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card card-border">
            <div class="card-header">
                <h5 class="card-title title mb-0">Reset Password</h5>
                <p class="card-category">forgot your password</p>
            </div>
            <div class="card-body update">
                <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <hr>
                        <button type="submit" class="btn col-12 my-1">Change Password</button>
                </form>
                <a href="{% url 'account:profile' request.user.profile.slug %}" class="btn btn-dark col-12">Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}