{% extends '../../base/base.html' %}
{% load  widget_tweaks %}


{% block title %}Regestration{% endblock %}



{% block content %}
<div class="card ">
    <div class="card-header ">
        Featured
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="container ">
                <div id="username">
                    <div class="form-group mt-2 ">
                        <label class="fw-bold" for="{{ form.username.id_for_label }}">{{ form.username.label|title }} {% if form.fields.username.required %}<span class="text-warning">*</span>{% endif %}</label><br />
                        {% render_field form.username class+="form-control " data-label=form.username.label|title data-placeholder="-" %}
                        {% if form.username.errors %}<label class="text-danger">{{ form.username.errors }}</label>{% endif %}
                    </div>
                </div>

                <div id="email">
                    <div class="form-group mt-2 ">
                        <label class="fw-bold" for="{{ form.email.id_for_label }}">{{ form.email.label|title }} {% if form.fields.email.required %}<span class="text-warning">*</span>{% endif %}</label><br />
                        {% render_field form.email class+="form-control " data-label=form.email.label|title data-placeholder="-" %}
                        {% if form.email.errors %}<label class="text-danger">{{ form.email.errors }}</label>{% endif %}
                    </div>
                </div>

                <div id="first_name">
                    <div class="form-group mt-2 ">
                        <label class="fw-bold" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label|title }} {% if form.fields.first_name.required %}<span class="text-warning">*</span>{% endif %}</label><br />
                        {% render_field form.first_name class+="form-control" data-label=form.first_name.label|title data-placeholder="-" %}
                        {% if form.first_name.errors %}<label class="text-danger my-1">{{ form.first_name.errors }}</label>{% endif %}
                    </div>
                </div>

                <div id="last_name">
                    <div class="form-group mt-2 ">
                        <label class="fw-bold" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label|title }} {% if form.fields.last_name.required %}<span class="text-warning">*</span>{% endif %}</label><br />
                        {% render_field form.last_name class+="form-control" data-label=form.last_name.label|title data-placeholder="-" %}
                        {% if form.last_name.errors %}<label class="text-danger my-1">{{ form.last_name.errors }}</label>{% endif %}
                    </div>
                </div>

                <div id="password1">
                    <div class="form-group mt-2 ">
                        <label class="fw-bold" for="{{ form.password1.id_for_label }}">{{ form.password1.label|title }} {% if form.fields.password1.required %}<span class="text-warning">*</span>{% endif %}</label><br />
                        {% render_field form.password1 class+="form-control" data-label=form.password1.label|title data-placeholder="-" %}
                        {% if form.password1.errors %}<label class="text-danger my-1">{{ form.password1.errors }}</label>{% endif %}
                        <p class="mt-1 text-danger">{{form.password1.help_text}}</p>

                    </div>
                </div>

                <div id="password2">
                    <div class="form-group mt-2 ">
                        <label class="fw-bold" for="{{ form.password2.id_for_label }}">{{ form.password2.label|title }} {% if form.fields.password2.required %}<span class="text-warning">*</span>{% endif %}</label><br />
                        {% render_field form.password2 class+="form-control" data-label=form.password2.label|title data-placeholder="-" %}
                        {% if form.password2.errors %}<label class="text-danger my-1">{{ form.password2.errors }}</label>{% endif %}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn button-primary mt-3 col-12">
                <span>Signup</span>
            </button>
            <a href="{% url 'user:login' %}" class="btn button-primary mt-3 col-12">
                <span>Login</span>
            </a>
        </form>
    </div>
</div>



{% endblock %}