{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">


    <!-- Page Titles-->
    <title>{% block title %}Quran App{% endblock %}</title>


    <!-- Custom CSS For Pages-->
    {% block staticfiles %}
    {% endblock %}

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static './bootstrap/css/bootstrap.css' %}" >

    <!-- Custom JS -->
    <link rel="stylesheet" type="text/css"  href="{% static 'css/styles.css' %}" >

</head>

<body>
    {% comment %} Navbar Header {% endcomment %}
    <header class="p-3 m-3 glass">
        <div class="container ">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            {% comment %} LOGO {% endcomment %}
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            {% comment %} Nav Elements {% endcomment %}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 ">Search</a></li>
                <li><a href="#" class="nav-link px-2 ">History</a></li>
            </ul>

            {% comment %} Profile {% endcomment %}
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu glass text-small">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
            </div>
        </div>
    </header>

    {% comment %} Main Section {% endcomment %}
    <div id="main-section" class="d-flex justify-content-center align-items-center">
        {% block content %}
        {% endblock %}
    </div>

    <!--  End Of Page Content  -->

    <script src="{% static './bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

</html>