{% extends '../../basee.html' %}
{% load crispy_forms_tags %}


{% block title %}PC - Reset Password{% endblock %}

{% block content %}
<!-- Navbar -->
<div class="container-fluid">
    <div class="row">
        <nav class="navbar">

            <div class=" col-lg-3 col-12" style="text-align: center; margin: 10px 0;">
                <button type="button" id="sidebarCollapse" class="btn btn-dark mt-1">
                    <i class="fas fa-align-left"></i>
                </button>
                <a href="{% url 'pl:category' %}" class="btn btn-dark mt-1">Category</a>
                <a href="{% url 'pl:home' %}" class="btn btn-dark mt-1">Home</a>
            </div>
            <div class=" col-lg-6 col-12" style="text-align: center; margin: 10px 0;">
                <a href="{% url 'account:login' %}" class="navigation ">Login</a>
            </div>
            <div class="col-lg-3 col-12">
                <div class="row justify-content-center">
                    <a href="{% url 'account:register' %}" class="btn btn-dark col-5" style="margin-right: 5px;" >Register</a>
                    <a href="{% url 'account:login' %}" class="btn btn-dark col-5">Log in</a>    
                </div>
            </div>
        </nav>
    </div>

</div>

<!-- End Of Navbar -->


<div class="row justify-content-center">
    <div class="col-lg-6 col-md-12 col-sm-12">

        <div class="card card-border">
            <div class="card-header">
                <h5 class="card-title title mb-0">Password Reset</h5>
                <p class="card-category">Password reset is complete</p>
            </div>
            <div class="card-body update">
                <h4>Your Password Has Been Reset</h4>
                <hr>
                <a href="{% url 'account:login' %}" class="btn btn-dark col-12 fw-bold my-1">Back To Login</a>
                <a href="{% url 'pl:home' %}" class="btn btn-dark col-12 fw-bold">Back To Home Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}